.btn-user {
  align-self: center !important;
  justify-self: center !important;
  margin-top: 0px;
  justify-content: center;
}

.section-btn {
  align-self: center !important;
  justify-self: center !important;
}

.section-btn-pw {
  align-self: center !important;
  justify-self: center !important;
}

.btn-large {
  align-self: center !important;
  justify-self: center !important;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.password-inputs {
  margin-bottom: 20px !important;
}

.user-form {
  margin: 0px;
}

.detail-user {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.left-side {
  width: 1500px;
  padding-left: 100px;
}

.rigth-side {
  width: 800px;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 50px;
}

.titlet {
  background-color: #71bb91 !important;
  color: white !important;
}
